<a href="https://colab.research.google.com/github/ShoSato-047/R_review/blob/main/STAT380_Introduction_to_R_in_Google_Colab_R_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In this notebook I introduce you to R syntax and data objects.  This is code that you can run in base R or R Studio - it doesn't need to be within a Colab environment!  Colab is the *environment*, not the *code*.

# Using R as calculator
At its most basic, you can use R to do anything a calculator can do.

In [ ]:
2+3

[1] 5

In [ ]:
log(3)

[1] 1.098612

In [ ]:
280*3

[1] 840

In [ ]:
pi/2

[1] 1.570796

# Boolean output

If an expression asks a logical question which can evaluate to either TRUE or FALSE, the output is called *Boolean*.  Below are examples of Boolean expressions:

In [ ]:
# Interpreted: "is 5 greater than 2?"
5>2

[1] TRUE

In [ ]:
# Interpreted: "is 2 greater than 5?"
2>5

[1] FALSE

In [ ]:
# Interpreted: "is 5 equivalent to 5?"
5==5

[1] TRUE

In [ ]:
# Interpreted: "is 5 equivalent to 2?"
5==2

[1] FALSE

In [ ]:
# Interpreted: "is 2 greater than 2?"
2>2

[1] FALSE

In [ ]:
# Interpreted: "is 2 greater than OR EQUAL TO 2?"
2>=2

[1] TRUE

In [ ]:
# "Is 5 not equal to 2?"
5!=2

[1] TRUE

In [ ]:
10/2 < 3

[1] FALSE

Note that when testing for equivalence, double equal-signs `==` must be used.  This is to avoid ambiguity with *object assignments*.

# Objects

`R` is an *object-oriented* language.  This means it relies on object assignment an operation.

What is an object?  An object is any sort of data structure that is stored in memory.  The object can be referred to to perform operations.

For example, if I just type the code below, I am executing "5" once:

In [ ]:
5

[1] 5

But if I assign the number 5 to an *object*, I can refer back to it!

In [ ]:
my_number = 5

In [ ]:
my_number

[1] 5

In [ ]:
my_number

[1] 5

In [ ]:
my_number

[1] 5

`R` now knows that `my_number` is the actual number 5.  I can now do math using the *object* `my_number`:

In [ ]:
my_number + 2

[1] 7

In [ ]:
my_number/2

[1] 2.5

In [ ]:
log(my_number)

[1] 1.609438

# Data types

It is important to be aware of the different data types in `R`.  Some functions operate differently depending on the type of data we are working with.  

Use the `class()` function to display the data type:

In [ ]:
class(my_number)

[1] "numeric"

Consider these other objects:

In [ ]:
object1 <- TRUE
object2 <- 'winona'

## Task

* Run the `class()` function on the two objects above.  What are their data types?
* Try adding 3 to each of the 2 objects above.  What happens?

In [ ]:
class(object1)
class(object2)

[1] "logical"

[1] "character"

In [ ]:
object1 + 3

[1] 4

In [ ]:
object2 + 3

ERROR: Error in object2 + 3: non-numeric argument to binary operator

# Vectors

*Vectors* are important data types in `R`.  Vectors store multiple items of the same data type.

To create a vector, use the `c()` function:

In [ ]:
myvec <- c(10,9,8,7,6,5,4,3,2,1,0)

Many functions are built to work with vectors:

In [ ]:
class(myvec)

[1] "numeric"

In [ ]:
mean(myvec)

[1] 5

In [ ]:
length(myvec)

[1] 11

The power of vectors is that operations work on an entire vector.  For example:

In [ ]:
myvec + 2

 [1] 12 11 10  9  8  7  6  5  4  3  2

In [ ]:
myvec/3

 [1] 3.3333333 3.0000000 2.6666667 2.3333333 2.0000000 1.6666667 1.3333333
 [8] 1.0000000 0.6666667 0.3333333 0.0000000

In [ ]:
myvec > 5

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE

## Task

Vectors are required to contain elements that are all the same data type, as this task demonstrates.


Run the code below.  What's happening?

In [ ]:
an_example <- c(5, 1, 3, 'winona', TRUE, FALSE)

In [ ]:
an_example

[1] "5"      "1"      "3"      "winona" "TRUE"   "FALSE"

In [ ]:
class(an_example)

[1] "character"

In [ ]:
another_example <- c(5, 1, 3, TRUE, FALSE)

In [ ]:
another_example

[1] 5 1 3 1 0

In [ ]:
class(another_example)

[1] "numeric"

In [ ]:
class(TRUE)

[1] "logical"

In [ ]:
class(FALSE)

[1] "logical"

## Subsetting

Square brackets `[]` can be used to subset elements of vectors.  The colon symbol `:` can be used to subset a range of indices.

In [ ]:
an_example[4]

[1] "winona"

In [ ]:
an_example[3:6]

[1] "3"      "winona" "TRUE"   "FALSE"

Boolean vectors of the same length as the original vector can also be used to subset.  This is especially useful for subsetting vectors according to some condition, as the next example illustrates:

In [ ]:
myvec

 [1] 10  9  8  7  6  5  4  3  2  1  0

In [ ]:
wanted <- myvec > 6

In [ ]:
wanted

 [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [ ]:
myvec[wanted]

[1] 10  9  8  7

### Task

Consider the vector below:

In [ ]:
some_letters <- c('g','d','w','e','b','z','m','a','z','v','l','q','o','s','o')

I want to subset the 3rd, 8th, 9th, 13th, and 15th letters.  We'll go about this as follows:

1. Create a vector `indices` that contains the numbers 3, 8, 9, 13, and 15.
2. Use this vector inside square brackets `[]` to subset the desired letters.

Identify the result as some local "character"!

In [ ]:
indices <- c(3,8,9,13,15)
subset <- some_letters[indices]
subset

[1] "w" "a" "z" "o" "o"

# Data frames

One of the most powerful types of data structures in `R` is the *data frame*.  One way to think of a data frame is as a combination of vectors, each column a vector of the same data type.  However, the columns might be different data types from each other.

The `fev` data set forced expiratory volume (FEV) and other metrics on children and teens:

In [ ]:
fev <- read.csv('https://www.dropbox.com/scl/fi/ijsx30c3bk5fzymp6ijh5/FEVdata.csv?rlkey=qp9armn7h46klefbgr3iopdzr&dl=1')

In [ ]:
class(fev)

[1] "data.frame"

The `head()` command shows the first 6 rows of the data frame.  Note the different data types in each column:

In [ ]:
head(fev)

  SUBJID AGE FEV   HEIGHT SEX SMOKE
1  301   9   1.708 57.0   F   No
2  451   8   1.724 67.5   F   No
3  501   7   1.720 54.5   F   No
4  642   9   1.558 53.0   M   No
5  901   9   1.895 57.0   M   No
6 1701   8   2.336 61.0   F   No

The `dim()` command shows how many rows and columns there are:

In [ ]:
dim(fev)

[1] 654   6

The dollar sign `$` can be used to extract a column.  In the code below, we extract the children's heights and put them in their own vector:

In [ ]:
heights <- fev$HEIGHT

In [ ]:
mean(heights)

[1] 61.14358

In [ ]:
head(heights)

[1] 57.0 67.5 54.5 53.0 57.0 61.0

In [ ]:
length(heights)

[1] 654

## Task: counting teens

How many kids in the `fev` data set are teens (13 or older)?  To find this out:

* Create a vector `age` containing only the children's ages.
* Create a boolean vector `is_teen` that is `TRUE` if each child is 13+, `FALSE` otherwise
* Use `is_teen` and `[]` to subset only the teens into their own vector, `teen_ages`.
* Use `length()` to determine the length of the `teen_ages` vector, and hence the number of teens in the data set.
* Note that `R` thinks of `TRUE` as ` and `FALSE` as 0.  We could have just as easily counted the number of teens by running `sum()` on the `is_teen` vector.  Use this approach to verify the number of teens in the data set.

In [ ]:
is_teen <- c(fev$AGE >= 13)
teen_ages <- fev$AGE[is_teen]
length(teen_ages)

[1] 117

In [ ]:
sum(is_teen)

[1] 117

# The `dplyr` package

The `dplyr` package is one of the foremost ways for working with data frames.  The `dplyr` package is known for its data verb and pipe `%>%` notation for sequencing data wrangling tasks. The package must be loaded with each new `R` session:

In [ ]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Some of the most important `dplyr` verbs are:

* `mutate()`: create a new column that is a transformation of an existing column
* `filter()`: subset rows by some criteria
* `summarize()`: create a summary of some column
* `group_by()`: create grouped mutates or summaries; used most frequently in conjunction with `summarize()` and `mutate()`.

The syntax of a `dplyr` command chain takes the following form:

```
(dataframe
  %>% task1
  %>% task2
  %>% task3
)
```

## `mutate()`

`mutate()` will either transform (replace) an existing column, or create a new column.

In the example below, the `mutate()` function is used to convert `HEIGHT` to feet (transform/replace), and to create a a new `is_teen` variable:

In [ ]:
(fev
  %>% mutate(HEIGHT = HEIGHT / 12, is_teen = ifelse(AGE >=13, 1, 0))
  %>% head()
)

  SUBJID AGE FEV   HEIGHT   SEX SMOKE is_teen
1  301   9   1.708 4.750000 F   No    0
2  451   8   1.724 5.625000 F   No    0
3  501   7   1.720 4.541667 F   No    0
4  642   9   1.558 4.416667 M   No    0
5  901   9   1.895 4.750000 M   No    0
6 1701   8   2.336 5.083333 F   No    0

In [ ]:
head(fev)

  SUBJID AGE FEV   HEIGHT SEX SMOKE
1  301   9   1.708 57.0   F   No
2  451   8   1.724 67.5   F   No
3  501   7   1.720 54.5   F   No
4  642   9   1.558 53.0   M   No
5  901   9   1.895 57.0   M   No
6 1701   8   2.336 61.0   F   No

This code has 2 tasks:

* A `mutate()` task;
* A `head()` task.

The `mutate()` comes first, followed by `head()`.

If we want to save this transformed data frame, we need to assign it to a new object:

In [ ]:
fev_transformed <- (fev
  %>% mutate(HEIGHT = HEIGHT / 12, is_teen = ifelse(AGE >=13, 1, 0))
  %>% head()
)

In [ ]:
fev_transformed

  SUBJID AGE FEV   HEIGHT   SEX SMOKE is_teen
1  301   9   1.708 4.750000 F   No    0
2  451   8   1.724 5.625000 F   No    0
3  501   7   1.720 4.541667 F   No    0
4  642   9   1.558 4.416667 M   No    0
5  901   9   1.895 4.750000 M   No    0
6 1701   8   2.336 5.083333 F   No    0

...but this only has the first 6 rows!!!  How can we modify the code above to save the *entire* transformed data frame?

In [ ]:
fev_transformed <- (fev
  %>% mutate(HEIGHT = HEIGHT / 12, is_teen = ifelse(AGE >=13, 1, 0))
  #%>% head()
)

In [ ]:
fev_transformed

    SUBJID AGE FEV   HEIGHT   SEX SMOKE is_teen
1    301   9   1.708 4.750000 F   No    0
2    451   8   1.724 5.625000 F   No    0
3    501   7   1.720 4.541667 F   No    0
4    642   9   1.558 4.416667 M   No    0
5    901   9   1.895 4.750000 M   No    0
6   1701   8   2.336 5.083333 F   No    0
7   1752   6   1.919 4.833333 F   No    0
8   1753   6   1.415 4.666667 F   No    0
9   1901   8   1.987 4.875000 F   No    0
10  1951   9   1.942 5.000000 F   No    0
11  1952   6   1.602 4.416667 F   No    0
12  2001   8   1.735 4.500000 M   No    0
13  2101   8   2.193 4.875000 F   No    0
14  2401   8   2.118 5.041667 M   No    0
15  3102   8   2.258 4.833333 M   No    0
16  3142   7   1.932 4.416667 M   No    0
17  3541   5   1.472 4.166667 M   No    0
18  3551   6   1.878 4.416667 F   No    0
19  4201   9   2.352 4.916667 M   No    0
20  4301   9   2.604 5.125000 M   No    0
21  4351   5   1.400 4.083333 F   No    0
22  5151   5   1.256 4.375000 F   No    0
23  5152   4   0.839 4.000000 F   No    0
24  5201   7   2.578 5.208333 M   No    0
25  5601   9   2.988 5.416667 F   No    0
26  5642   3   1.404 4.291667 M   No    0
27  5702   9   2.348 5.000000 M   No    0
28  6042   5   1.755 4.333333 M   No    0
29  6101   8   2.980 5.000000 F   No    0
30  6801   9   2.100 5.000000 F   No    0
⋮   ⋮      ⋮   ⋮     ⋮        ⋮   ⋮     ⋮
625 30041  15  3.985 5.916667 M   No    1
626 30441  18  4.220 5.666667 M   No    1
627 30442  17  4.724 5.875000 M   No    1
628 33741  15  3.731 5.583333 M   No    1
629 34241  17  3.406 5.750000 M   Yes   1
630 37251  17  3.500 5.166667 F   No    1
631 37252  16  3.674 5.625000 F   No    1
632 37441  17  5.633 6.083333 M   No    1
633 37451  15  3.122 5.333333 F   Yes   1
634 39051  15  3.330 5.708333 F   Yes   1
635 40351  16  2.608 5.166667 F   Yes   1
636 44241  16  3.645 6.125000 M   No    1
637 47241  15  3.799 5.541667 M   Yes   1
638 48141  18  4.086 5.583333 M   Yes   1
639 48152  15  2.887 5.250000 F   No    1
640 48441  16  4.070 5.791667 M   Yes   1
641 52841  17  3.960 5.833333 M   No    1
642 52842  16  4.299 5.500000 M   No    1
643 55951  16  2.981 5.500000 F   No    1
644 57052  15  2.264 5.250000 F   Yes   1
645 59944  18  4.404 5.875000 M   Yes   1
646 61951  15  2.278 5.000000 F   Yes   1
647 63241  16  4.504 6.000000 M   No    1
648 71141  17  5.638 5.833333 M   No    1
649 71142  16  4.872 6.000000 M   Yes   1
650 73041  16  4.270 5.583333 M   Yes   1
651 73042  15  3.727 5.666667 M   Yes   1
652 73751  18  2.853 5.000000 F   No    1
653 75852  16  2.795 5.250000 F   Yes   1
654 77151  15  3.211 5.541667 F   No    1

## `filter()`

`filter()` filters the data frame to only the rows that meet some condition.  The code below filters to only females at least 5 feet (60 inches) tall:

In [ ]:
(fev
  %>% filter(SEX=='F')
  %>% filter(HEIGHT >= 60)
)

    SUBJID AGE FEV   HEIGHT SEX SMOKE
1     451  8   1.724 67.5   F   No
2    1701  8   2.336 61.0   F   No
3    1951  9   1.942 60.0   F   No
4    5601  9   2.988 65.0   F   No
5    6101  8   2.980 60.0   F   No
6    6801  9   2.100 60.0   F   No
7    7251  8   2.673 60.0   F   No
8    9501  9   3.135 60.0   F   No
9   11501  9   2.797 61.5   F   No
10  13351  9   3.016 62.5   F   No
11  13701  7   2.419 60.0   F   No
12  14201  8   2.481 60.0   F   No
13  15201  9   2.560 60.5   F   No
14  18101  8   2.144 63.0   F   No
15  20152  9   3.029 61.5   F   No
16  21552  8   2.215 60.0   F   No
17  22201  8   2.388 60.0   F   No
18  23902  9   2.574 60.5   F   No
19  28452  8   2.341 60.5   F   No
20  30001  8   2.458 61.0   F   No
21  32751  8   2.288 61.5   F   No
22  33601  9   2.463 61.0   F   No
23  33801  9   2.631 62.0   F   No
24  35103  9   3.042 66.0   F   No
25  37201  8   2.665 64.0   F   No
26  38051  9   2.592 60.5   F   No
27  39001  9   2.048 64.5   F   No
28  39801  9   2.851 60.0   F   No
29  42101  9   3.004 64.0   F   No
30  44701  8   2.187 61.5   F   No
⋮   ⋮      ⋮   ⋮     ⋮      ⋮   ⋮
170 77601  11  2.562 62.5   F   No
171 80051  12  3.082 64.5   F   No
172 80651  13  3.152 62.0   F   Yes
173 81201  11  2.458 60.0   F   No
174 81551  13  3.141 61.0   F   No
175 81552  12  2.579 63.0   F   No
176 81701  11  3.104 67.5   F   Yes
177 83951  11  3.069 65.0   F   Yes
178  4051  18  2.906 66.0   F   No
179  6252  19  3.519 66.0   F   Yes
180 15351  15  2.635 64.0   F   No
181 15752  15  2.679 66.0   F   Yes
182 20151  15  2.198 62.0   F   Yes
183 21351  19  3.345 65.5   F   Yes
184 22251  18  3.082 64.5   F   No
185 22252  16  3.387 66.5   F   No
186 24552  16  2.903 63.0   F   Yes
187 24553  15  3.004 64.0   F   Yes
188 37251  17  3.500 62.0   F   No
189 37252  16  3.674 67.5   F   No
190 37451  15  3.122 64.0   F   Yes
191 39051  15  3.330 68.5   F   Yes
192 40351  16  2.608 62.0   F   Yes
193 48152  15  2.887 63.0   F   No
194 55951  16  2.981 66.0   F   No
195 57052  15  2.264 63.0   F   Yes
196 61951  15  2.278 60.0   F   Yes
197 73751  18  2.853 60.0   F   No
198 75852  16  2.795 63.0   F   Yes
199 77151  15  3.211 66.5   F   No

## Grouped summaries with `summarize()`

`summarize()` aggregates the data, creating summary statistics of groups of rows.  The code below finds the average height and FEV and number of rows (children) in the data frame:

In [ ]:
(fev
  %>% summarize(mean(FEV), mean(HEIGHT), n())
)

  mean(FEV) mean(HEIGHT) n()
1 2.63678   61.14358     654

Using `group_by()` before the `summarize()` will provide summaries by the grouping variable levels.  The code below finds the average FEV by smoking status, as well as the number of people in each smoking category:

In [ ]:
(fev
  %>% group_by(SMOKE)
  %>% summarize(avg_FEV = mean(FEV), count = n())
)

  SMOKE avg_FEV  count
1 No    2.566143 589
2 Yes   3.276862  65

Another shortcut to grouped summaries uses the `.by = ` option in the `summarize()` function, doing away with `group_by()`:

In [ ]:
(fev
  %>% summarize(avg_FEV = mean(FEV), count = n(), .by = SMOKE)
)

  SMOKE avg_FEV  count
1 No    2.566143 589
2 Yes   3.276862  65

## Task

Above we used a rather roundabout way with vector creation to count the number of teens in the data set.  Use one chain of `dplyr()` verbs to find the number of teens and the number of non-teens in the data set.

In [ ]:
(fev
  %>% mutate(is_teen = AGE >= 13)
  %>% group_by(is_teen)
  %>% summarise(count = n())
)

  is_teen count
1 FALSE   537
2  TRUE   117

## Task

Use one chain of `dplyr` verbs to find and compare the average FEV of people who are at least 5 feet (60 inches) tall to people who are less than 5 feet tall.

In [ ]:
(fev
  %>% mutate(taller_than_5 = HEIGHT > 60)
  %>% group_by(taller_than_5)
  %>% summarize(avg_FEV = mean(FEV))
)

  taller_than_5 avg_FEV
1 FALSE         1.926484
2  TRUE         3.152166